body {
    font-size: 13px;
}
.container h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;

}
.container h4{
    text-align: center;
    font-size: 1.3em;
    margin-top: 15px;
}
.container hr {
    max-width: 60%;
    margin: auto;
}
.container h5 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}
.linebox {
    border: solid 1px #e5e5e5;
    padding: 20px 0;
    font-size: 1em;
}
.linebox h4 {
    color: #666666;
    margin-bottom: 30px;
}

.linebox_square {
    position: relative;
    border: solid 1px #e5e5e5;
    padding: 20px 30px;
    text-align: center;
    margin-bottom: 15px;
}

.linebox_square h6 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 20px;
}

.linebox_square h5 {
    font-size: 4em;
    font-weight: bold;
    margin-top: 20px;
}

.onetime_icon {
    width: 85px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buy_buton {
    margin: auto;
}

#product-component-3787ec1f29f {
    max-width: 100% !important;
    margin-bottom: 20px;

}

.shopify-buy__btn-wrapper {
    margin-bottom: 0 !important;
}
.grey_field {
    display: none;
}
.linebox_square:hover +.grey_field {
    display: block;
    background-color: #f7f7f7;
    border-top: 0px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 20px;
    margin: auto;
    margin-bottom: 15px;
    animation: grey_field 250ms

}

/*.linebox_square:hover{*/
    /*margin-bottom: 0px;*/
/*}*/
.row{
    margin-bottom: 20px;
}
.subscription{
    background-color: #f7f7f7;
}
.white_field {
    display: none;
}
.subscription:hover +.white_field {
    display: block;
    background-color: white;
    border-top: 0px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 20px;
    margin: auto;
    margin-bottom: 15px;

}
.rocket{
    height: 100px;
    width: auto;
}
.airplain{
    height: auto;
    width: 142px;
}
.shopify-buy__btn{
    width: 165px;
    height: 55px;
    background-color: #0088ff;
    color: #faf4f4;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin: 20px 0px;
}
.icon_warper{
    width: 100%;
    height: 120px;
}
#product-component-4ad87940112 {
    max-width: 100% !important;
    margin-bottom: 20px;
}

#product-component-6c8a5ea60fe {
    max-width: 100% !important;
    margin-bottom: 20px;
}

#product-component-52b5c547373 {
    max-width: 100% !important;
    margin-bottom: 20px;
}
/* one time payment button */

#product-component-07ef015ae5b {
    max-width: 100% !important;
    margin-bottom: 20px;
}
#product-component-2a3abec0305 {
    max-width: 100% !important;
    margin-bottom: 20px;
}
#product-component-003f8698194 {
    max-width: 100% !important;
    margin-bottom: 20px;
}
.box_spac{
    margin: 0 auto;
    height: 90px;
    text-align: center;
    position: relative
}
.box_spac p{

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}